// Variables
$color-primary: #111111;
$color-secondary: #f7cf63;
$color-white: #f2f0f1;
$color-success: #3c7d3c;
$color-warning: #b78e3c;
$color-theme: #214180;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$title-size: 2.4rem;